<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Public description</th>
      <th>Private description</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Price</th>
      <th>Max attendances</th>
      <th>Event picture url</th>
      <th>Public code</th>
      <th>Private code</th>
      <th>Publico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.public_description %></td>
        <td><%= event.private_description %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= event.location %></td>
        <td><%= event.price %></td>
        <td><%= event.max_attendances %></td>
        <td><%= event.event_picture_url %></td>
        <td><%= event.public_code %></td>
        <td><%= event.private_code %></td>
        <td><%= event.publico %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
